.qr-scanner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.qr-scanner-view {
    width: 90vw; 
    height: auto;
    max-width: 1280px; 
    border: 2px solid #000;
    margin-bottom: 20px;
}

/* 인식 영역 강조 표시 */
.qr-scan-area {
    position: absolute;
    width: 50vw; /* 인식 영역의 너비를 설정 */
    height: 50vh; /* 인식 영역의 높이를 설정 */
    top: 25%; /* 화면의 중앙에 위치하도록 설정 */
    left: 25%; /* 화면의 중앙에 위치하도록 설정 */
    pointer-events: none; /* 인식 영역이 상호작용을 막지 않도록 설정 */
}

.scan-status, .scan-success {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
}

.scan-success {
    color: green;
}

.Toastify__toast {
    min-height: 300px !important; /* 높이 조정 (필요에 따라 변경) */
    min-width: 1500px !important;
    display: flex !important; /* 플렉스 박스로 전환 */
    align-items: center !important;/* 세로 중앙 정렬 */
    justify-content: center !important; /* 가로 중앙 정렬 */
    font-size: 60px !important; /* 폰트 크기 설정 */
    font-weight: bold !important;
    padding: 20px !important; /* 여백 설정 */
    text-align: center !important;
    border-radius: 30px;
    right: 140%;
  }